img{
	width: 120px;
	height: 120px;
	}
figure{
	margin:0;
}
h1{
	background: #69656f;
	box-shadow: 0px	4px 0px #293249;
	color: white;
	text-align: center;
	font-weight: bold;
	margin: 10px;
	padding: 0.5cm;
	border-radius: 15px;
}
body{
	background-color: #293249;
}
#container
{
	width: 80%;
	text-align: left;
	border: 1px solid #000;
	margin: 0 auto;
	background-color: #ded2cf;
	border-color: white;
	border-radius: 20px;
}
#subtitulo{
	font-family: monospace;
	font-weight: bold;
	color: #293249;
}
#listas{
	font-family:  "courier";
	font-weight: normal;
}
footer{
	height: 50px;

	background: #aca1a1;

	padding: 1px;
	text-align: center;
	margin: 10px;
}
p{
	color: white;
}
a{
	text-decoration: none;
}