img{
	width: 180px;
	height: 180px;
	}
figure{
	margin:0;
}
main{
	width: 50%;
	text-align: left;
	border: 10px solid #000;
	margin: 0 auto;
	background-color: #A6E0F5;
	border-color: white;
	border-radius: 20px;
}
